body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #a6a3a3;
    overflow-x: hidden;
}

p {
    font-size: .8em;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #131a2d;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: white;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    /*color: #555555;*/
}

.bg-4 {
    background-color: #1b1b1b;
    /* Black Gray */
    color: #fff;
}

.bg-2 p, .bg-3 p, .bg-2 h3 {
    color: #a6a3a3;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding: 5px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    cursor: pointer;
}

.navbar-brand {
    padding: 0;
    display: inline-block;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.h3, label {
    color: rgb(30, 34, 59);
}

h4 {
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(212, 0, 0);
}

h5 {
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(212, 0, 0);
}

footer.container-fluid.bg-4.text-center {
    padding: 10px;
}

footer>p {
    font-size: 22px;
}

#intro {
    height: 100vh;
    background-color: white;
}

#intro>h3 {
    padding-top: 3%;
}

button {
    background-color: rgb(212, 0, 0);
    color: white;
}

.logo {
    width: 40%;
}

.bg-huile {
  background-image: url("images/huile.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  padding: 3%;
}

.row01 .col-md-3 img {
  border: 6px solid white;
  border-radius: 3px;
  width: 100%;
}
.fragrances {
  margin-top: 3%;
}
.flex-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}
.center-row {
  margin: auto;
}
